#root {
  height: 100%;
}

.App {
  background-color: #191919;
  height: 100%;
}

.side {
  height: 100%;
}

.blue {
  float: left;
}

.red {
  float: right;
}

.Champion {
  bor der: 1px solid #333;
  margin-bottom: 30px;
  height: 130px;
  box-shadow: 0 0 15px 1px lightgreen;
  padding: 10px;
  border-radius:  0 3px 3px 0;
}

.red > .Champion {
  border-radius:  3px 0 0 3px;
}

.championIcon {
  width: 130px;
  height: 130px;
}

.summonerSpells {
  display: inline-block;
  vertical-align: top;
  margin-left: 7px;
}

.red > .Champion > .summonerSpells {
  margin-right: 7px;
  margin-left: 0;
}

.SummonerSpell {
  b order: 3px solid lightgreen;
  border-radius: 3px;
  width: 61px;
  height: 61px;
  margin-bottom: 7px;
}

.spellIcon {
  height: 100%;
}

.timer {
  background-color: rgba(0,0,0,0.55);
  width: 64px;
  height: 64px;
  position: relative;
  top: -68px;
  text-align: center;
}

.timerText {
  display: inline-block;
  vertical-align: middle;
  line-height: 66px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.mapArea {
  display: inline-block;
  width: calc(100% - 436px);
}

.OtherCooldown {
  width: 80px;
  height: 80px;


  padding: 10px;
  border-radius: 3px;
  border: 2px solid lightgreen;
  box-shadow: 0 0 10px 1px lightgreen;
  background-color: #191919;
}

.OtherCooldown > .timer {
  height: 80px;
  width: 80px;
  top: -84px;
}

.OtherCooldown > .timer > .timerText {
  line-height: 80px;
}

/*
#baron {
  float: left;
  margin-left: 30%;
}

#dragon {
  float: right;
  margin-right: 30%;
}

#redRed, #redBlue {
  margin-right: 20px;
  margin-bottom: 20px;
}

#blueRed, #blueBlue {
  margin-left: 20px;
  margin-bottom: 20px;
}*/



#baron {
  position: relative;
  left: 39%;
  top: 240px;
}

#dragon {
  position: relative;
  left: 60.5%;
  top: 460px;
}

#redRed {
  position: relative;
  left: 48%;
} 

#redBlue {
  position: relative;
  left: 65%;
  top: 120px;
}

#blueRed {
  position: relative;
  left: 51%;
  top: 170px;
} 

#blueBlue {
  position: relative;
  left: 33%;
  top: -150px;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 920px;
  margin: auto
}