.App {
}

.side {
  height: 100%;
}

.blue {
  float: left;
}

.red {
  float: right;
}

.Champion {
  border: 1px solid #333;
  margin-bottom: 20px;
}

.championIcon {
  width: 125px;
  height: 125px;
}

.summonerSpells {
  display: inline-block;
  vertical-align: top;
}

.SummonerSpell {
  border: 1px solid violet;
  width: 60px;
  height: 60px;
}

.timer {
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  position: relative;
  top: -20px;
  text-align: center;
}

.timerText {
  display: inline-block;
  vertical-align: middle;
  line-height: 60px;
  color: white;
}